---
layout: page
title: Publications
permalink: /publications/
---

    <!-- Slider Start -->
<section id="publications-header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Publications</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <p>
          {% assign publications = site.publications | sort: 'order' | reverse %}
          {% for publication in publications %}
          <p>
            <ul>{{ publication.authors }} ({{ publication.year }}) {{ publication.title }}. <i>{{ publication.journalname }}</i>{% if publication.issue %}, {{ publication.issue }}:{{ publication.pages }}{% endif %}. {% if publication.pubmedid %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pubmedid }}">Available on PubMed</a>{% endif %}</ul>
          </p>
          {% endfor %}
      </div><!-- .col-md-7 close -->
      <div class="col-md-2 col-sm-12"></div>
    </div>
  </div>
</section>